extends _pug/layouts/default

block pageVariables
  - page.title = 'Accueil';

block metasVariables
  - metas.og._isEnabled = false;
  - metas.twitter._isEnabled = false;

block content
  div.app
    input.app-color(type='text', id='color', placeholder='Hex color')
    canvas.app-canvas(id='canvas')
