-
  let page = {
    title: 'Titre par défaut'
  };

block pageVariables

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    if ENV === 'production'
      title #{page.title}
    else
      title [@@ENV] #{page.title}
    include ../includes/common/metas
    link(rel="stylesheet", href="css/main.css?bust=@@CACHE_BUST")
    script(src="js/common.js?bust=@@CACHE_BUST")
    script(src="js/main.js?bust=@@CACHE_BUST")
  body
    block content
