{
  "pre-production": {
    "username": "",
    "password": "",
    "host": "",
    "port": 21,
    "localRoot": "dist",
    "remoteRoot": "/path/to/remote/dir"
  },
  "production": {
    "username": "",
    "password": "",
    "host": "",
    "port": 21,
    "localRoot": "dist",
    "remoteRoot": "/path/to/remote/dir"
  }
}
