/**
 * HOW TO USE:
 * ===========================================================

<label class="checkbox">
  <input class="checkbox-input" type="checkbox">
  <span class="checkbox-ui"></span>
  <span class="checkbox-label">label text</span>
</label>
*/

.checkbox
{
  display: inline-flex;
    align-items: center;
}
.checkbox-input
{
  display: none;
}
.checkbox-input:checked
{
  & ~ .checkbox-ui
  {
    &::after
    {
      opacity: 1;
      visibility: visible;
    }
  }
}
.checkbox-ui
{
  background: $color-white;
  border: 1px solid $color-black;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  height: 24px;
  width: 24px;

  position: relative;
  transition: all 0.3s ease;

  &::after
  {
    background: $color-black;
    content: "";
    display: block;
    height: 70%;
    opacity: 0;
    visibility: hidden;
    width: 70%;

    position: absolute;
      left: 50%;
      top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.3s ease;
  }
}
.checkbox-label
{
  margin-left: 6px;
}
